<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header><%- include('./partials/navbar.ejs') %></header>
    <h1>Estas viendo la lista de productos</h1>
    <a href="/products/create">Crea tu producto!</a>
    <% products.forEach(product=> { %>
        <h2>Nombre: <%=product.title%>
        </h2>
        <h3>Price: $<%=product.price%>
        </h3>
        <h4>Con el id <%=product.id%>
        </h4> <a href="/products/<%=product.id%>/detail"><button>Ver mas</button></a><br><br>
        <% }) %>
</body>

</html>